.jumbotron {
    background-color: #2A8D64;
    margin-bottom: 5%;
}

.date {
    text-align: center;
    font-size: 30px;
    color: white;
}

.budget{
    background-color: #2A8D64;
    color: white;
    text-align: center;
    border: none;
    padding-top: 1.25em;
}
.balance{
    background-color: #2A8D64;
    color: white;
    text-align: center;
    border: none;

}
.submitbuttonrow {
    padding-left: 5%;
    padding-top: 5%;
}
.submitbutton {
    background-color: #E7815A !important;
    color: white !important;
    margin-left: 8em !important;
}
.logoutbuttonrow {
    padding-left: 30px;
}

.form{
    margin-bottom: 1rem;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.card {
    margin-top: 5%;
}

.historyContainer {
    margin-bottom: 4%;
}

.MuiInputBase-root {
    color: black !important;
    font-size: 1rem !important;
    font-weight: 800 !important;
}