.jumbotron {
    background-color: #2A8D64;
    margin-bottom: 1rem;
}

.date {
    text-align: center;
    font-size: 30px;
    color: white;
}

.budget{
    background-color: #2A8D64;
    color: white;
    text-align: center;
    border: none;
    padding-top: 1.25em;
}
.balance{
    background-color: #2A8D64;
    color: white;
    text-align: center;
    border: none;

}
.submitbuttonrow {
    padding-left: 15px;
}
.submitbutton {
    background-color: #E7815A !important;
    color: white !important;
}
.logoutbuttonrow {
    padding-left: 30px;
}

.budgetText {
    text-align: center;
}

form{
    margin-bottom: 1rem;
}