body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.activityBanner {
  background-color: #EFEFEF;
  color: #E7815A;
  font-size: 16px;
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-weight: 600;
}


.transactionBanner {
  background-color: #EFEFEF;
  color: #E7815A;
  font-size: 16px;
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-weight: 600;
}

.btn-warning{
  position: center;
  justify-content: center !important;
  font-size: 16px;
  font-family: "Poppins", "Times New Roman", Times, serif;
  align-content: center;
}

/* this isnt working */
.history{
  box-shadow: #EFEFEF;
}

/* this isnt working */
.historyContainer{
  overflow-y: scroll !important;
}

.cardTitle {
  font-weight: 600 !important;
  Color: #666666
}

/* not working */
.amount{
  position: right !important;
  bottom: 10px;
  right: 10px;
}